#curved-corner-bottomleft,
#curved-corner-bottomright,
#curved-corner-topleft,
#curved-corner-topright {
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: absolute;
}
#curved-corner-bottomleft:before,
#curved-corner-bottomright:before,
#curved-corner-topleft:before,
#curved-corner-topright:before {
  content: "";
  display: flex;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -12px 12px 0 0 #272b3a;
}
#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 12px 12px 0 0 #272b3a;
}
#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -12px -12px 0 0 #272b3a;
}
#curved-corner-topright:before {
  top: 0;
  right: 0;
  box-shadow: 12px -12px 0 0 #272b3a;
}

#home {
  background-image: url("/image/background.jpg");
}

.bnb-image {
  background-image: url('/public/image/bnb.png');
  width: 200px;
  height: 200px;
  background-size: 200px;
}