@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  margin: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.oval {
  width: 150px;
  height: 80px;
  background: #272b3a;
  border-radius: 150px / 75px;
  position: absolute;
}

.oval-header {
  width: 105%;
  height: 80px;
  background: #272b3a;
  border-radius: 100% / 100px;
  position: absolute;
  margin-top: 10px;
  z-index: 5;
}

.oval-footer {
  width: 90%;
  height: 120px;
  background: #272b3a;
  border-radius: 100% / 120px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .oval-header {
    display: none;
  }
}
